header nav {
  width: 100%;
  height: 6rem;
  background: #fff;
  z-index: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

header nav ul {
  list-style: none;
  margin-bottom: 0;
}

header nav ul li {
  position: relative;
  float: left;
  margin-bottom: 0;
  display: list-item;
}

header nav ul li a {
  display: block;
  padding: 1.8rem 3rem;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  transition: 0.5s;
}

header nav ul li a:hover {
  border-bottom: 1px solid #0FA0CE;
}

header .nav-bar {
  height: inherit;
}

header.logo {
  padding: 2rem;
}

footer {
  width: 100%;
  height: 10rem;
  background: #5e6063;
}

footer ul {
  list-style: none;
  margin-bottom: 0;
}

footer ul li {
  position: relative;
  float: left;
  margin-bottom: 0;
  display: list-item;
}

footer ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}

footer .nav-row {
  padding: 1rem 0 0.5rem;
  border-bottom: 1px solid #454749;
}

p {
  margin-bottom: 0;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.section {
  padding: 8rem 0 8rem;
}

.with-background {
  background-image: url('./img/Corvallis_looking_South_City_May_1_2016_7pm_DST.png');
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-pic {
  position: relative;
  bottom: 0;
  margin-bottom: 0;
  left: -30rem;
  height: 90vh;
}

.search-section {
  position: relative;
  bottom: 60rem;
  z-index: 1;
}

.labels {
  font-size: 80%;
}

.distance-label {
  margin-bottom: 0;
}

.login-form {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  padding: 1rem 4rem 0;
  border: 1px solid #222;
  transition: opacity 0.5s;
}

.login-form-appear {
  visibility: visible;
  opacity: 1;
  background-color: #fff;
  z-index: 2;
}

.search-form {
  margin: 5rem 0 0 20rem;
}

.review-background {
  background-color: #066ecc;
}

.ratings {
  text-align: center;
  font-size: 200%;
  color: #FFD700;
}

.review-enter {
  opacity: 0.01;
}

.review-enter.review-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.review-leave {
  opacity: 1;
}

.review-leave.review-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.review-appear {
  opacity: 0.01;
}

.review-appear.review-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.review-block {
  margin-left: 2rem;
}

.mapsearch {
  padding-top: 2rem;
}

.mapform {
  border-bottom: 1px solid #eee;
}

.houses {
  margin-left: 0;
  border-left: 1px solid #eee;
  height: 90vh;
  overflow: scroll;
  display: block;
}

.house {
  margin: 0 1rem 2rem 0;
}

.house:hover {
  cursor: pointer;
}

.housephoto {
  margin: 0;
  height: 20rem;
}

.infodiv {
  position: relative;
  z-index: 1;
  bottom: 9rem;
  margin-bottom: -10rem;
  padding-left: 1rem;
  color: #fff;
  transition: all 0.5s ease;
}

.infodivhover {
  background: linear-gradient(to top, black, transparent);
  transition: all 0.3s ease;
}

.readmorelink {
  text-decoration: none;
  color: #c4c4c4;
}

.sale-rent {
  margin: 0;
}

.active {
  color: #0ef70e;
}

.pending {
  color: #f70e0e;
}

.houseprice {
  margin-bottom: 0;
}

.houseinfo {
  margin-top: 0;
  font-size: 90%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-bottom: 3rem;
  padding: 1rem 3rem 4rem 3rem;
  border: 1px solid #888;
}

.closebtn {
  position: relative;
  left: 97%;
  color: #aaaaaa;
  font-size: 300%;
  cursor: pointer;
}

.closebtn:hover {
  color: #686868;
}

.favorite-modal {
  top: 0;
  padding-top: 0;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.3s;
  animation-name: animatetop;
  animation-duration: 0.3s
}

@-webkit-keyframes animatetop {
    from {top: -30rem; opacity:0}
    to {top: 0rem; opacity:1}
}

@keyframes animatetop {
    from {top: -30rem; opacity:0}
    to {top: 0rem; opacity:1}
}

.inforow {
  text-align: left;
}

.infocolumn {
  margin: 0;
  margin-left: 3rem;
  border-right: 2px solid #222;
}

.lastinfocolumn {
  margin: 0;
  margin-left: 3rem
}

.infotag {
  text-align: left;
}

.housepicrow {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
  border: 3px solid #dbdbdb;
}

.housepic {
  height: 70vh;
}

.houseaddr {
  margin: 2rem 0 0;
}

.icons {
  line-height: inherit;
  cursor: pointer;
  color: red;
}

.minimap {
  margin-top: 6rem;
}

.backgroundrow {
  background-color: #efefef;
}

.houseidpic {
  margin-top: 2rem;
  border: none;
}

.houseinfopic {
  height: 55vh;
}

.infoheader {
  margin-bottom: 0;
}

.detailrow {
  border-bottom: 1px solid #eee;
  margin: 1rem 0 0;
  padding: 0 0 0.5rem 1rem;
}

.infotitle {
  color: #444;
}

.info {
  font-weight: bold;
}

.favoriterow {
  margin: 0 2rem 1rem 2rem;
  border: 1px solid #eee;
  width: 90%;
  margin-bottom: -3.5rem;
}

.favoriterow:hover {
  border: 1px solid #222;
}

.unfavoritebutton {
  position: relative;
  left: 73%;
  bottom: 5rem;
  font-size: 200%;
  cursor: pointer;
  color: #adadad;
}

.unfavoritebutton:hover {
  color: #ff0f0f;
}

.favoriteanchor {
  text-decoration: none;
}

.favoritebuttonrow {
  margin-top: -2.4rem;
  margin-bottom: -0.7rem;
}

.thumbnailimg {
  height: 11rem;
  width: auto;
}

.favoriteheaderrow {
  margin-top: 3rem;
  margin-bottom: -2rem;
  text-align: left;
}

.favoriteheader {
  padding-left: 2rem;
  font-size: 140%;
  color: #000;
  border-right: 1px solid #222;
}

.favoriteprice {
  position: relative;
  top: 0.5rem;
  font-size: 180%;
  color: #000;
}

.favoriteheader-last {
  border-right: 0;
}

.favoriteheadertext {
  font-size: 100%;
  text-align: left;
  margin-top: -1rem;
}

.no-padding {
  padding-left: 1rem;
}

.favoriteicon {
  position: relative;
  top: 0;
  left: 0.2rem;
}

#favoritebutton {
  position: relative;
  z-index: 1;
  bottom: 6rem;
  margin-bottom: -6rem;
}

#title {
  text-align: center;
}

#subtitle {
  margin-left: 20rem;
}

#start-header {

}

#login {
  float: right;
}

#copyright {
  color: #fff;
  text-align: left;
  padding-top: 1rem;
}

#inputbox {
  width: 70%;
  margin-right: 2rem;
}

#zillow {
  margin-top: 0.5rem;
}

#reviewer {
  margin-bottom: 0.5rem;
}

#addressheader {
  margin-bottom: 0;
}

#houseinforow {
  margin-top: 1rem;
}

#unit {
  font-size: 70%;
}

#remarks {
  margin: 0 0 3rem 0;
}

#notes {
  font-size: 150%;
  margin-bottom: 1rem;
}

#statusrow {
  margin: 2rem 0 0;
}

#detailrows {
  margin-bottom: 3rem;
}

#bigbutton {
  margin-top: 2rem;
  margin-bottom: 4rem;
  -moz-border-radius: 9rem;
	-webkit-border-radius: 9rem;
  border-radius: 15rem;
  border: 1px solid black;
  background-color: rgba(145, 203, 255, 0.2);
}

#imagerow {
  margin-left: 0.3rem;
}

#buttonimage {
  height: 20%;
  width: 20%;
}

#contactbutton {
  margin-top: 3.3rem;
  margin-left: 0rem;
  text-align: center;
  color: #222;
  font-size: 150%;
}

#easteregg {
  float: right;
}

#easteregg a {
  text-decoration: none;
  color: #5e6063;
}

#easteregg a:hover {
  color: #fff;
}
